<div class="messagecontainer">
  <ul id="messages"></ul>
</div>

    <form class="chatform" action="">
      <div class="form-group">
        <input class="form-control" id="m" autocomplete="off" />
      </div>
      <div class="form-group">
        <button class="form-control">Send</button>
      </div>
    </form>
 