<div plangular>
  <div class="progressbar">
  <p class="h6">{{ player.currentTime | prettyTime }} - {{ player.duration | prettyTime }}</p>
   <progress value="{{ player.currentTime / player.duration || 0 }}"
    ng-click="player.seek($event)">
    {{ player.currentTime / duration }}
  </progress>
  </div>
  <div class="currentplayer">
  <h4 class="center m0"><div class="currentsongtrack"> <img class="mainimage" ng-src="{{songs[0][0].image}}" height="150" width="150"><div class="currentsong">{{ player.currentTrack.title || '&nbsp;' }}<br><span class="usernametitle">{{ player.currentTrack.user.username || '&nbsp;'}}</span></div></div></h4>
  <div class="venuecontainer">
  <div ng-repeat="venue in sounds.venues">
    <span class="venuedate">{{venue.formatted_datetime}}</span><br>
    <a class="rsvplink" href="{{venue.ticket_url}}"><span class="venuename">{{venue.formatted_location}} <strong>at</strong> {{venue.venue.name}}</span></span></a>
    
  </div>
  </div>
  
  </div>
</div>
