<div ng-include="'templates/navbar.html'"></div>


<div ng-show="showsearch" class="col-md-offset-1 col-md-3 animate-show">
  <form ng-submit="sounds.searchSongs(query)">
    <div class="form-group">
      <input class="form-control" placeholder="Enter an artist and track name" type="text" ng-model="query.string">
    </div>
    <div class="form-group">
      <button class="form-control btn btn-danger">Search</button>
    </div>
  </form>
  <div class="songselection">
    <div ng-repeat="track in sounds.tracks.spotify.tracks.items">
      <a href ng-hide="clicked" ng-click="sounds.searchLiveBands(track)">
        <div class="searchsong">
          <div class="songcover">
            <img src="{{track.album.images[2].url}}">
            {{track.artists[0].name}}
          </div>
          <div class="songsuggestions">
            {{track.soundcloudtitle}}
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<div class="col-md-offset-1 col-md-3" ng-hide="signup" ng-include="'templates/signup.html'"></div>
<div ng-show="loginshow" class="col-md-offset-1 col-md-3 animate-show" ng-include="'templates/login.html'"></div>

<div class="col-md-4">
  <div ng-include="'templates/plangular.html'"></div>
  <div class="queuecontainer">
    <div ng-repeat="song in sounds.songs">
      {{song[0].title}}
      <span ng-show="sounds.guestuser || song[0].voted"><img src="rubysound_assets/img/greyguest.png" height="20" width="20"></span><span ng-hide="sounds.guestuser || song[0].voted"><a href ng-click="sounds.addVote(song)"><img src="rubysound_assets/img/vote.png" height="20" width="20"></a></span>{{song[1][0].count}}
      <div class="playsong">
        <div plangular="{{song[0].url}}" type="audio/mp3">
          <a href="#{{ example.id }}" class="block py1 nav-item"
            ng-click="playPause()"
            ng-class="{ 'bg-darken-1': player.playing == track }">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>