.chatbox { margin: 0; padding: 0; box-sizing: border-box; }
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { 
  padding: 5px 10px; 
}
#messages li:nth-child(odd) { background: #eee; }
body {
  background-color: black;
  background-image: url('../img/dark.png');
}
.chatbox {
  height: 500px;
  border: 2px solid black;
  padding: 10px;
  border-radius: 0px 5px 5px 0px;
  box-shadow: 1px 1px 3px black;
  background-color: white;
}
.songselection {
  overflow: scroll;
  max-height: 400px;
}
.messagecontainer {
  height: 395px;
  width: 220px;
  overflow: scroll;
}
.searchbar {
  border-radius: 5px;
  border: 2px solid black;
  margin-right: 10px;
}
.animate-show {
  line-height:20px;
  opacity:1;
  padding:10px;
  background:white;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.animate-show.ng-hide {
  line-height:0;
  opacity:0;
  padding:0 10px;
}


.songsuggestions {
  font-size: 12px;
  padding: 8px;
  border-bottom: 1px solid grey;
  margin-bottom: 10px;
}

.navbarclass {
  background-color: #D63333;
  width: 105%;
  position: fixed;
  z-index: 20;
  box-shadow: inset -1px -1px 3px ;
}
.queuecontainer {
  height: 245px;
  overflow: scroll;
  background-color: #3f3f3f;
  margin: 0;
  padding: 0;
  color: #e0e0e0;
  border-top: 2px solid black;
}
.queueimage {
  border: 1px solid white;
  margin-left: 4px;
}
.navbarclass .navtitle {
  color: white;
}
.logoutbutton {
  float: right;
  background-color: white;
  margin-top: 8px;
  margin-right: 8px;
  box-shadow: 1px 1px black;
  border-radius: 2px;
  width: 90px;
}
.votesfloat {
  float: right;
  position: relative;
  top: -30px;
  margin-right: 10px;
}
.logoutbutton a{
  color: black;
  list-style-type: none;
  text-decoration: none;
}
.mainimage {
  display: inline-block;
}

.currentsong {
  position: relative;
  top: -150px;
  left: 160px;
  width: 50%;
  max-height: 38px;
  overflow: scroll;
}
.usernametitle {
  font-size: 12px;
}

.singlesong {
  margin-top: 5px;
  margin: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-shadow: 1px 1px 1px black;
  border-bottom: 1px solid white;
  box-shadow: 1px 1px 3px grey, -1px -1px 3px grey;
}
.currenttracktitle {
  display: inline-block;
}
.queuesongtitle {
  width: 80%;
  margin-left: 5px;
  display: inline-block;
}
.theplayer {
  border-radius: 3px 0px 0px 3px;
  border: 2px solid black;
  height: 500px;
  padding: 0;
  margin: 0;
  padding-bottom: 30px;
  box-shadow: 1px 1px 2px black;
  background-color: white;
  }
.bg {
  position: relative;
  height: 222px;
  background-image: url('../img/ewan2.jpg');
  z-index: -20;
  padding: 0;
  margin-bottom: 30px;
  border-bottom: 1px solid brown;
  box-shadow: 1px 1px 1px black;
}
.currentplayer {
  background-color: white;
  border-radius: 5px;
  margin-left: 10px;
}
a {
  color: brown;
  text-decoration: none;
}
li {
  list-style-type: none;
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {   
border-color: rgba(204,0,0, 0.8);
box-shadow: 0 1px 1px rgba(204,0,0, 0.075) inset, 0 0 8px rgba(204,0,0, 0.6);
outline: 0 none;}