.chatbox { margin: 0; padding: 0; box-sizing: border-box; }
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }

.chatbox {
  height: 500px;
  border: 1px solid grey;
  padding: 10px;
}
.songselection {
  overflow: scroll;
  max-height: 400px;
}
.messagecontainer {
  height: 380px;
}
.animate-show {
  line-height:20px;
  opacity:1;
  padding:10px;
  background:white;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.animate-show.ng-hide {
  line-height:0;
  opacity:0;
  padding:0 10px;
}